.prev-menu-link,
.next-menu-link {
  display: block;
  width: 34px;
  height: 91px;
  text-indent: -9999px;
  background: url('../images/arrows.png') no-repeat -40px 0;
  position: absolute;
  top: -50px;
  right: -68px;
}
.prev-menu-link {
  background-position: 0 0;
  right: auto;
  left: -68px;
  margin-left: 0;
}
